
p{
    background-color: pink;
    padding: 10px;
    text-align: justify;

}
  table{
        background-color:pink;
      }
*{
    margin: 5px 0;
}

p{
    background-color: skyblue;
    color: pink;
    padding: 10px;
    text-align: justify;
    text-transform: uppercase;
}
